.pause--head {
  font-size: 4rem;
  line-height: 4.4rem;
  margin-bottom: 30px;
}

.pause--title {
  color: #464646;
  font-size: 2.6rem;
  line-height: 2rem;
  margin-bottom: 30px;
}

.pause--checkbox {
  font-size: 2rem;
  margin-bottom: 10px;
}

.pause--foot {
  font-weight: bold;
  font-size: 2rem;
}
